<form [formGroup]="addUserForm" (ngSubmit)="onLogin()">
    <div class="container">
      <div>
        <label for="username">Username </label>
        <input id="username" formControlName="username" placeholder="ex: kartadimaja123"/>
        <div class="validation-error" *ngIf="addUserForm.get('username')?.errors?.['required'] && addUserForm.get('username')?.touched">
          Please input your username
        </div>
      </div>

      <div>
        <p></p>
        <label for="password">Password </label>
        <input type="password" id="password" formControlName="password" placeholder="ex: Zulfikar Kartadimaja"/>
        <div class="validation-error" *ngIf="addUserForm.get('password')?.errors?.['required'] && addUserForm.get('password')?.touched">
          Please input valid password
        </div>
      </div>
    </div>
    <button type="Submit">LOG IN</button>
    <div *ngIf = "error" class="error-massage">{{error}}</div>
</form> 